* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;
}

body {
  background: #eee;
}

.body {
  background: rgba(238, 238, 238, 0.8);
}

header {
  background-color: #f5ba13;
  margin: auto;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 1.2rem;
}

footer p {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.295);
  font-weight: 700;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 18%;
  height: 100%;
  margin: 1%;
  float: left;
}
.note h1 {
  font-size: 1.1rem;
  margin-bottom: 6px;
}
.note p {
  font-size: 1rem;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
